<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="getBackButtonText()" defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="message">
  <ion-item>
    <ion-icon name="person-circle" color="primary"></ion-icon>
    <ion-label class="ion-text-wrap">
      <h2>
        {{ message.fromName }}
        <span class="date">
          <ion-note>{{ message.date }}</ion-note>
        </span>
      </h2>
      <h3>To: <ion-note>Me</ion-note></h3>
    </ion-label>
  </ion-item>
  
  <div class="ion-padding">
    <h1>{{ message.subject }}</h1>
    <p>
      Amet-amet
    </p>
  </div>
  <ion-list>
      <ion-list-header>FU</ion-list-header>
      <ion-item>
        <ion-textarea placeholder="Buat Follow Up..."></ion-textarea>
        <ion-button>Kirim</ion-button>
      </ion-item>
        
      <ion-item>
        <ion-label>
          <h2>Rendy</h2>
          <h3>test</h3>
          <p>test satu dua tiga</p>
        </ion-label>
      </ion-item>
      <ion-item>
          <ion-label>
            <h2>Agus</h2>
            <h3>test</h3>
            <p>test satu dua tiga</p>
          </ion-label>
        </ion-item>
      </ion-list>
  </ion-content>
